doctype=html
html
  head
    title Express.js + Pug
    meta(http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'")
  body
    canvas#chart
    script(src="/js/chartjs.js")
    script(src="/js/main.js")